{% extends "auctions/layout.html" %}

{% block body %}
<style>
    h2 {
        font-family: fantasy;
    }
    .listingMenu h5{
        color: rgb(2, 0, 94); padding-top: 2%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
</style>
    <h2>{{listing.Name}}</h2>
    {%if loggedIn%}
        <form action="{% url 'listing' listing.id %}" method="POST">
            {%csrf_token%}
            {%if watching%}
                <input type="submit" name="modifier" class="btn btn-warning" value="Remove from watchlist">
            {%else%}
                <input type="submit" name="modifier" class="btn btn-info" value="Add to watchlist">
            {%endif%}
        </form>
    {%endif%}
    {%if error%}
        <div style="background-color: yellow; color: black;">{{error}}</div>
    {%endif%}
    <img src="{{listing.Image}}" class="img-thumbnail" style="max-width: 100%; max-height:350px; "> <br>
    {%if listing.Active%}
            {%if isOwner%}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {%csrf_token%}
                    <input type="submit" name="action" class="btn btn-danger" value="End Biddings">
                </form><br>
            {%else%}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {%csrf_token%}
                    {{form}}
                    <input type="submit" class="btn btn-info" value="Add Bid">
                </form><br>
                
            {%endif%}

        {%else%}
            <h2>Winner: {{highestBid.Bidder}}</h2>
        {%endif%}
    <h6>{{listing.Description}}</h6>
    {%if bids%}
        Number of bids={{bids}}<br>
        {{highestBid}}
    {%endif%}
    
    <h3>Comments</h3>
    {%if loggedIn%}
        
        <hr>
        <form class="form-horizontal" action="{%url 'listing' listing.id%}" method="POST">
            {%csrf_token%}
            <div class="form-group">{{commentForm}}</div>
            <input type="submit" name="comment" class="btn btn-info" value="Post Comment">
        </form>
    {%endif%}
    
    {%for comment in comments%} 
        <div class="card" style="margin: 1%;">
            <div class="card-header bg-primary text-white" style="font-weight: bold;">{{comment.User}}</div>
            <div class="card-body">
                <div class="card-title text-primary">{{comment.content}}</div>
            </div>
            <div class="card-footer text-primary" style="font-size: x-small;">{{comment.datePosted}}</div>
        </div>
    {%endfor%}
    
{% endblock %}